{{#if addNewAnswer}}
  <h3>So you haz a answer!</h3>
  <form id="answerForm">
    <div class="form-group">
      <label for="content">What is it?</label>
      {{input value=content id="content"}}
    </div>
    <div class="form-group">
      <label for="author">Who are you?</label>
      {{input value=author id="author"}}
    </div>
      <button {{action 'saveAnswer'}}>Submit Answer!</button>
    </form>
  {{else}}
    <button {{action 'answerFormShow'}}> Haz answer?</button>
  {{/if}}
