{{#if updateQuestionForm}}
<form id="questionForm">
  <div class="form-group">
    <label for="content">Re-word question?</label>
    {{input value=content id="content" placeholder=question.content}}
  </div>
  <div class="form-group">
    <label for="author">Mess up your name?</label>
    {{input value=author id="author" placeholder=question.author}}
  </div>
  <div class="form-group">
    <label for="topic">Wrong topic?</label>
    {{input value=topic id="topic" placeholder=question.topic}}
</div>
    <button {{action 'updateQuestion' question}}>Submit Question!</button>
  </form>
{{else}}
<button {{ action 'showUpdateQuestionForm'}}> Haz update to question?</button>
{{/if}}
